@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    font-family: 'Allison' , cursive;  
    --color-principal: #23a0d1a4;
    --color-secundario: #faff65c2;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
}
nav {
    position: relative;
    display: grid;
    text-align: center ;
}

.menu {
    display: grid;
    position: relative;
    width: 80vw;
    height: 8vh;
    border: 2px solid black;
    background-color: rgba(20, 218, 175, 0.61);
    margin: auto;
    text-align: center;
    font-size: 50px;
}
.menu2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    position: relative;
    text-shadow: 3px 3px 5px gray ;
    border: 2px solid black;
    background-color: rgba(20, 218, 175, 0.61);
    margin: 5%;
}

