@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    font-family: 'Allison' , cursive;  
    text-overflow: ellipsis;
    --color-principal: #4177ff;
    --color-secundario: #faff65c2;
}
.dad {
    display: grid;
    position: absolute;
    border: 10px solid black;
    background-color: var(--color-principal);
    font-size: 5rem;
    text-align: center;
    gap: 10% ;
    height: 100vh ;
    align-content: center;
    
    overflow-block: scroll;
    text-align: center;
}

.son {
    display: grid;
    border: 1px solid black;
    background-color: var(--color-secundario);
}
