.dad {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: blueviolet;
}

.son {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-basis: 50%;
    background-color: aqua;

}

